<div class="jumbotron"> 
<h1>Pet Playmates </h1>
<p>Get cuddles from dogs</p>
</div> 

<div class ="row" > 
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Find dogs in your area">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>


<div class = "row"> 
	<% Pet.all.each do |pet| %> 
	<div class="col-md-3"> 
		<div class="panel panel-defaul"> 
			<div class="panel-body"> 
				<%= image_tag(pet.picture_url(:thumbnail), :width =>100, :height =>100) %> 
				<br> 
				<%=pet.name %> 

			</div> 
		</div> 
	</div> 
	<% end %> 
</div> 




<% if user_signed_in? %> 
	<p> User type: <span class="label label-primary"><%= current_user.user_type %> </span> </p>
	<p> User role: <span class="label label-warning"> <%= 'Owner' if current_user.has_role? :owner %> </span> </p> 
	<% if current_user.has_role? :owner %> 
	List your pet
	<% end %> 
<%end %> 
