@import 'bootstrap-sprockets';
@import 'bootstrap';
 @import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

h1 {
	font-family: 'Bungee Shade', cursive;
}

body {
	padding-top: 50px;
}

.devise {
	background: url('dog2.jpg') no-repeat;
	background-size: 100%;
}

.panel {
	background: rgba(0,0,0,0.25);
}